body {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    min-height: 100vh;
}

header {
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

#usernameDisplay {
    font-weight: 500;
}

.card-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;       /* max 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.btn-purple {
    background-color: #6f42c1;
    color: #fff;
    border: none;
}

.btn-purple:hover {
    background-color: #5a32a3;
    color: #fff;
}